<div class="blog_card row mb-4 project">
  <header class="col-md-5">
    <h2>
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>
    <p>Posted by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </header>
  <div class="col-md-7">
    <p>
      {{blog.content}}
    </p>
  </div>
</div>