<header class="d-inline-flex mx-5 my-2">
    <h1>Welcome, {{name}}!</h1>
</header>

{{!-- card for making a new blog post --}}
<div class="card mx-5">
    <h3 class="card-header bg-success text-white">Create a New Blog Post</h3>
    <div class="card-body">
        <form class="form new-blog-form">
            <div class="form-group">
                <label for="blog-title">Blog Title</label>
                <input class="form-control" placeholder="An interesting title..." type="text" id="new-blog-title" />
            </div>
            <div class="form-group">
                <label for="project-desc">Blog Content:</label>
                <textarea class="form-control" placeholder="A fascinating thing..." id="blog-content"
                    name="blog-content"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

{{!-- blog display card --}}
<div class="card mx-5 mt-5">
    <h3 class="card-header bg-primary text-white">Your Posted Blogs</h3>
    {{#if blog.length}}
        {{#each blogs as |blog|}}
        <div class="card-body">
            <div class="card mx-2">
                <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
            </div>
            <div class="mx-1">
                <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
    {{else}}
    <div class="card-body">
        <div class="mx-2">
            <h4>You have not posted any blogs.</h4>
        </div>
    </div>
    {{/if}}
</div>

{{!-- comment display card --}}
<div class="card mx-5 mt-5">
    <h3 class="card-header bg-info text-white">Your Comments</h3>
    {{#if comment.length}}
        {{#each comments as |comment|}}
        <div class="card-body">
            <div class="card mx-2">
                <h4><a href="/comment/{{comment.id}}">{{comment.title}}</a></h4>
            </div>
            <div class="mx-1">
                <button class="btn btn-sm btn-danger" data-id="{{comment.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
    {{else}}
    <div class="card-body">
        <div class="mx-2">
            <h4>You have not posted any comments.</h4>
        </div>
    </div>
    {{/if}}
</div>

<script src="/public/js/profile.js"></script>