<!-- Loop over each object in the blogs array -->
{{#each blogs as |blog| }}

<div class="card px-5 py-4 mx-5 my-2 shadow">
    <header class="card-title m-2">
        <h2>
            <a href="/blog/{{id}}">{{title}}</a>
        </h2>
    </header>
    <div class="card-text m-2">
        <p>
            {{content}}
        </p>
    </div>
    <div class="comment m-2">
        <b>{{user.name}}</b> |
        {{format_date date_created}} |
        <a href="/post/{{id}}">
            {{comments.length}} {{format_plural "comment" comments.length}}
        </a>
    </div>
</div>

{{else}}
<div class="p-2">
    <h2>There are currently no posts</h2>
</div>

{{/each}}