<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <h3>Create a New Blog Post:</h3>

        <form class="form new-project-form">
            <div class="form-group">
                <label for="project-name">blog title:</label>
                <input class="form-input" type="text" id="blog-title" name="blog-title" />
            </div>
            <div class="form-group">
                <label for="project-desc">blog content:</label>
                <textarea class="form-input" id="blog-content" name="blog-content"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>

    {{!-- if user has created blogs, display them here --}}
    {{#if blog.length}}
    <div class="col-md-6 project-list">
        <h3>Your Blog Posts:</h3>

        {{#each blogs as |blog|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <h4><a href="/project/{{blog.id}}">{{blog.title}}</a></h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}

    {{!-- if user has created comments, display them here --}}
    {{#if comment.length}}
    <div class="col-md-6 project-list">
        <h3>Your Comments:</h3>

        {{#each comments as |comment|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <h4><a href="/project/{{comment.id}}">{{comment.title}}</a></h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="/public/js/profile.js"></script>